<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Domain</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../assets/img/elements/Pg1/logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/font-awesome.min.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body class="bg-main">
    <div class="container-fluid py-3">
        <div class="d-lg-none fixed-top nav-wrap">
            <button class="btn btn-menu">MENU</button>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="sidebar-mini py-5">
                    <div class="d-flex flex-column justify-content-between align-items-center sidebar-mini-inner">
                        <div class="logo-wrap">
                            <img src="../assets/img/elements/Pg1/logo.png" alt="logo">
                        </div>
                        <ul class="nav flex-column justify-content-center">
                            <li class="nav-item my-2">
                                <a href="dashboard.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Dashboard">
                                    <img class="icon" src="../assets/img/elements/Pg1/Dashboard.png" alt="Dashboard">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="leads.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Leads">
                                    <img class="icon" src="../assets/img/elements/Pg1/leads generated.png" alt="leads">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="tutorial.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Tutorials">
                                    <img class="icon" src="../assets/img/elements/Pg1/tutorials.png" alt="tutorials">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="profile.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Profile Setting">
                                    <img class="icon" src="../assets/img/elements/Pg1/profile settings.png"
                                        alt="profile settings">
                                </a>
                            </li>
                            <li class="nav-item my-2 active">
                                <a href="domain.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Domains">
                                    <img class="icon" src="../assets/img/elements/Pg1/website created.png"
                                        alt="Domains">
                                </a>
                            </li>
                        </ul>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Sign Out">
                            <img class="icon" src="../assets/img/elements/Pg1/Signout.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 pt-5 px-0 px-md-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <h1 class="domain-header">
                                Gain credibility online<br>
                                with a custom domain
                            </h1>
                            <form action="" method="get">
                                <div class="d-flex align-items-center">
                                    <div class="form-group flex-grow-1">
                                        <label for=""></label>
                                        <input type="text" name="domain-search" id="domain-search"
                                            class="form-control domain-search" placeholder="Domain Search">
                                    </div>
                                    <button type="button" class="btn btn-primary search-domain">
                                        <img class="icn" src="../assets/img/elements/Pg8/search.png" alt="">
                                    </button>
                                </div>
                            </form>

                            <div class="help-links">
                                <nav class="nav">
                                    <a class="nav-link" href="#">Transfer a domain your already own</a>
                                    <a class="nav-link" href="#">What is a domain?</a>

                                </nav>
                            </div>



                        </div>
                        <div class="col-12 col-md-5">
                            <img src="../assets/img/elements/Pg8/img.png" class="img-fluid" alt="laptop with domain">
                        </div>
                        <div class="group-domain-select my-3">
                            <div class="domain-picker-wrap">
                                <div class="domain-picker">
                                    <div class="domain-name">
                                        tybn.<span class="extention">ng</span>
                                    </div>
                                    <div class="domain-details">
                                        Unavailable
                                    </div>
                                </div>
                                <div class="domain-picker">
                                    <div class="domain-name">
                                        tybn.<span class="extention">com</span>
                                    </div>
                                    <div class="domain-details">
                                        <div>
                                            <div class="price">
                                                $22/Year
                                            </div>
                                            <div class="price-desc">
                                                Domain Privacy Included
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary add-domain">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="d-flex align-items-center justify-content-between flex-wrap flex-lg-nowrap notification-checkout bg-dark">

                                <ul class="nav flex-column text-light">
                                    <li class="nav-item">1 domain added to your Cart</li>
                                    <li class="nav-item"><a class="text-light" href="">Edit Cart</a></li>
                                </ul>

                                <a href="#" class="btn btn-primary checkout-btn" id="continue-checkout">
                                    Continue to checkout
                                </a>
                            </div>
                        </div>

                        <div class="group-address my-3 d-none">
                            <div class="domain-address-wrap">
                                <div class="title">
                                    <h3 class="text">Billing Address</h3>
                                </div>

                                <form class="domain-address-form" action="" method="post">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <div class="row">
                                                <div class="col-6 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="first-name" placeholder="First Name">
                                                        <label for="first-name" class="floating-label">First Name
                                                            *</label>

                                                    </div>
                                                </div>
                                                <div class="col-6 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="last-name" placeholder="Last Name">
                                                        <label for="last-name" class="floating-label">Last Name
                                                            *</label>

                                                    </div>
                                                </div>
                                                <div class="col-12 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="company" placeholder="Company">
                                                        <label for="company" class="floating-label">Company</label>

                                                    </div>
                                                </div>
                                                <div class="col-12 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="address" placeholder="Address">
                                                        <label for="address" class="floating-label">Address *</label>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="city" placeholder="City">
                                                        <label for="city" class="floating-label">City *</label>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="postal" placeholder="Postal Code">
                                                        <label for="postal" class="floating-label">Postal Code *</label>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="phone" placeholder="Phone Number">
                                                        <label for="phone" class="floating-label">Phone Number *</label>

                                                    </div>
                                                </div>

                                                <div class="col-6 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="country" placeholder="Country">
                                                        <label for="country" class="floating-label">Country *</label>

                                                    </div>
                                                </div>

                                                <div class="col-6 my-2">
                                                    <div class="form-group floating-label-wrap floating-label-address">
                                                        <input type="text"
                                                            class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                            id="state" placeholder="State">
                                                        <label for="state" class="floating-label">State *</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <ul class="nav cart-details">
                                                <li class="nav-item w-100">
                                                    <div class="nav-link d-flex justify-content-between align-items-center">
                                                        <div class="cart-title"> Your Cart
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="">Edit</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item w-100">
                                                    <div class="nav-link d-flex justify-content-between align-items-center">
                                                        <div class="domain-cart-details">
                                                            <div class="domain-title">
                                                                tyro.org
                                                            </div>
                                                            <div class="domain-desc">
                                                                With privacy option
                                                            </div>
                                                        </div>
                                                        <div class="domain-amount">
                                                            $20.0
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item w-100">
                                                    <div class="nav-link d-flex justify-content-end align-items-center">
                                                        <div class="domain-cart-total">
                                                            <Span>Total: </Span>$20.0
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <button type="button" id="btn-proceed-payment" class="btn btn-primary btn-lg btn-block">Proceed to Payment method</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="col-12 py-4 mt-4">
                                    <nav class="nav justify-content-center">
                                      <a class="nav-link" href="#">Terms of Service</a>
                                      <a class="nav-link" href="#">Privacy Notice</a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="group-payment-method my-3 d-none">
                            <div class="domain-address-wrap px-4">
                                <div class="d-flex title">
                                    <img src="../assets/img/elements/Pg8/credit-card.png" alt=" credit card icon">
                                    <h3 class="text">Payment Method</h3>
                                </div>

                                
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <div class="jumbotron py-3 payment-text">
                                                <p class="lead">
                                                    <a href="#" target="_blank">Money back guarantee</a> applies to the website builder and hosting. All plans and products automatically renew unless you cancel. The renewal will be for the same length and at the <a href="" target="_blank">regular rates</a>. The payment methods you provide today, or that we have on the file will be used for renewals. unless you change it or cancel. you may cancel by logging into your account or calling customer support 844-211-7882 
                                                </p>
                                                
                                            </div>

                                            <ul class="nav nav-pills mb-3 payment-type border-bottom" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" id="pills-card-tab" data-toggle="pill" href="#pills-card" role="tab" aria-controls="pills-card" aria-selected="true">Creditcard</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" id="pills-paypal-tab" data-toggle="pill" href="#pills-paypal" role="tab" aria-controls="pills-paypal" aria-selected="false">Paypal</a>
                                                </li>
                                                
                                              </ul>
                                              <div class="tab-content payment-options" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-card" role="tabpanel" aria-labelledby="pills-card-tab">
                                                    <ul class="nav">
                                                        <li class="nav-item">
                                                            <img class="nav-link" src="../assets/img/elements/Pg8/icons8-visa-50.png">
                                                        </li>
                                                        <li class="nav-item">
                                                            <img class="nav-link" src="../assets/img/elements/Pg8/master.png">
                                                        </li>
                                                        
                                                    </ul>

                                                    <form action="" method="post">
                                                        <div class="row">
                                                            <div class="col-12 my-2">
                                                                <div class="form-group floating-label-wrap floating-label-address">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                                        id="card-number" placeholder="Card Number">
                                                                    <label for="card-number" class="floating-label">Card Number</label>
            
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 my-2">
                                                                <div class="form-group floating-label-wrap floating-label-address">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                                        id="card-security" placeholder="Security Code" maxlength="3">
                                                                    <label for="card-security" class="floating-label">Security Code *</label>
            
                                                                </div>
                                                            </div>

                                                            <div class="col-6 col-md-3 my-2">
                                                                <div class="form-group floating-label-wrap floating-label-address">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                                        id="exp-month" placeholder="Exp. Month" maxlength="2">
                                                                    <label for="exp-month" class="floating-label">Exp. Month *</label>
            
                                                                </div>
                                                            </div>
                                                            <div class="col-6 col-md-3 my-2">
                                                                <div class="form-group floating-label-wrap floating-label-address">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg floating-label-field floating-label-field--s3 address-inputs"
                                                                        id="exp-year" placeholder="Exp. Year" maxlength="2">
                                                                    <label for="exp-year" class="floating-label">Exp. Year *</label>
            
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="jumbotron py-3 payment-text mt-5">
                                                            <p class="lead">
                                                                By clicking "Proceed to Order summary" you agree to have your personal information transferred and stored in the United States. which is necessary to provide you with the services under our agreement with you.
                                                            </p>
                                                            
                                                        </div>
                                                        <div class="col-12 no-gutter">
                                                            <button type="button" name="" id="proceed-summary" class="btn btn-primary btn-lg btn-block">Proceed to Order summary</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="tab-pane fade" id="pills-paypal" role="tabpanel" aria-labelledby="pills-paypal-tab">
                                                    <div class="d-flex">
                                                        <div class="img-icn">

                                                        </div>
                                                        <div class="paypal-desc">
                                                            Select "continue with PayPal" and you will be redirected to PayPal at the end of set up to make your payment. 
                                                        </div>

                                                        
                                                    </div>

                                                    <div class="jumbotron py-3 payment-text mt-5">
                                                        <p class="lead">
                                                            By clicking "Proceed to Order summary" you agree to have your personal information transferred and stored in the United States. which is necessary to provide you with the services under our agreement with you.
                                                        </p>
                                                        
                                                    </div>

                                                    <div class="col-12 no-gutter">
                                                        <button type="button" id="btn-paypal-cont" class="btn btn-primary btn-lg btn-block">Continue with PayPal</button>
                                                    </div>
                                                </div>
                                                
                                              </div>

                                            
                                        </div>
                                        <div class="col-12 col-md-4 my-3">
                                            <ul class="nav cart-details">
                                                <li class="nav-item w-100">
                                                    <div class="nav-link d-flex justify-content-between align-items-center">
                                                        <div class="cart-title">
                                                            <img class="icon-cart" src="../assets/img/elements/Pg8/cart.png" alt=""> Your Cart
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="">Edit</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item w-100">
                                                    <div class="nav-link d-flex justify-content-between align-items-center">
                                                        <div class="domain-cart-details">
                                                            <div class="domain-title">
                                                                tyro.org
                                                            </div>
                                                            <div class="domain-desc">
                                                                With privacy option
                                                            </div>
                                                        </div>
                                                        <div class="domain-amount">
                                                            $20.0
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item w-100">
                                                    <div class="nav-link d-flex justify-content-end align-items-center">
                                                        <div class="domain-cart-total">
                                                            <Span>Total: </Span>$20.0
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-12">
                                            <button id="btn-prev-payment" type="button" class="btn text-primary">
                                                < Previous
                                            </button>
                                        </div>
                                        
                                    </div>
                                

                                <div class="col-12 py-4 mt-4">
                                    <nav class="nav justify-content-center">
                                      <a class="nav-link" href="#">Terms of Service</a>
                                      <a class="nav-link" href="#">Privacy Notice</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    © 2020 AIWA
                </div>
            </div>
        </div>
    </div>


    <script src="../assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>