<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutorials</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../assets/img/elements/Pg1/logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/font-awesome.min.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body class="bg-main">
    <div class="container-fluid py-3">
        <div class="d-lg-none fixed-top nav-wrap">
            <button class="btn btn-menu">MENU</button>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="sidebar-mini py-5">
                    <div class="d-flex flex-column justify-content-between align-items-center sidebar-mini-inner">
                        <div class="logo-wrap">
                            <img src="../assets/img/elements/Pg1/logo.png" alt="logo">
                        </div>
                        <ul class="nav flex-column justify-content-center">
                            <li class="nav-item my-2">
                                <a href="dashboard.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Dashboard">
                                    <img class="icon" src="../assets/img/elements/Pg1/Dashboard.png" alt="Dashboard">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="leads.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Leads">
                                    <img class="icon" src="../assets/img/elements/Pg1/leads generated.png" alt="leads">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="tutorial.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Tutorials">
                                    <img class="icon" src="../assets/img/elements/Pg1/tutorials.png" alt="tutorials">
                                </a>
                            </li>
                            <li class="nav-item my-2 active">
                                <a href="profile.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Profile Setting">
                                    <img class="icon" src="../assets/img/elements/Pg1/profile settings.png"
                                        alt="profile settings">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="domain.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Domains">
                                    <img class="icon" src="../assets/img/elements/Pg1/website created.png"
                                        alt="Domains">
                                </a>
                            </li>
                        </ul>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Sign Out">
                            <img class="icon" src="../assets/img/elements/Pg1/Signout.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 px-0">
                <div class="container-fluid no-gutter">
                    <div class="row">
                        <div class="col-12">
                            <nav class="nav mt-5 mb-0">
                                <a class="btn btn-primary nav-link" href="#">Account</a>
                                <a class="btn nav-link" href="#">Billing</a>
                            </nav>
                        </div>
                        <div class="col-12 col-lg-8 order-2 order-lg-1 px-4 py-5">
                            

                            <form action="" method="post">
                                <div class="row">

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="Username">Username</label>
                                            <input type="text" name="username" id="username"
                                                class="form-control username">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="text" name="email" id="country" class="form-control email">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="password">New Password</label>
                                            <input type="text" name="password" id="password"
                                                class="form-control password">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="confirm-password">New Password</label>
                                            <input type="text" name="confirm-password" id="confirm-password"
                                                class="form-control confirm-password">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group">
                                            <label for="bio">Short bio</label>
                                            <input type="text" name="bio" id="bio" class="form-control bio">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" name="address" id="address" class="form-control address">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" name="city" id="city" class="form-control city">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <input type="text" name="country" id="country" class="form-control country">

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <div class="form-group">
                                            <label for="postal-code">Postal Code</label>
                                            <input type="text" name="postal-code" id="postal-code"
                                                class="form-control postal-code">

                                        </div>
                                    </div>




                                </div>
                                <div class="d-flex flex-wrap justify-content-center justify-content-md-between mt-5">
                                    <button class="btn btn-danger btn-deactivate my-2">Deactivate Account</button>

                                    <button class="btn btn-update my-2">Update Profile</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-lg-4 order-1 order-lg-2">
                            <div class="user-bar">
                                <div class="user-image">
                                    <img src="../assets/img/elements/Pg6/money bag.png" class="img-fluid"
                                        alt="user profile picture">
                                    <div class="upload-img">
                                        <div class="form-group upload-inner">
                                            <input type="file" class="form-control-file" name="profile-upload" id="profile-upload"
                                             >
                                             <img class="profile-icon" src="../assets/img/elements/Pg6/Edit.png" alt="update profile icon">
                                        </div>
                                    </div>
                                </div>
                                <div class="user-name">
                                    Austine Ejem
                                </div>
                                <nav class="nav justify-content-center">
                                  <a class="nav-link active" href="#">
                                      <img class="profile-icon" src="../assets/img/elements/Pg6/notification.png" alt="notification">
                                  </a>
                                  <a class="nav-link" href="#">
                                    <img class="profile-icon" src="../assets/img/elements/Pg6/save.png" alt="save">
                                  </a>
                                  <a class="nav-link" href="#">
                                    <img class="profile-icon" src="../assets/img/elements/Pg6/download.png" alt="download">
                                  </a>
                                  <a class="nav-link" href="#">
                                    <img class="profile-icon" src="../assets/img/elements/Pg6/share.png" alt="share">
                                  </a>
                                </nav>
                                <ul class="nav flex-column profile-nav my-4">
                                    <li class="nav-item my-2">
                                        <a class="btn nav-link active" href="#">UPDATE PROFILE</a>
                                    </li>
                                    <li class="nav-item my-2">
                                        <a class="btn nav-link" href="#">ACCOUNT TYPE</a>
                                    </li>
                                    <li class="nav-item my-2">
                                        <a class="btn nav-link" href="#">BILLING</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>