<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutorials</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../assets/img/elements/Pg1/logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="assets/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/font-awesome.min.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body class="bg-main particle-container">
    <div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>

    <div class="container-fluid py-3">
        <div class="d-lg-none fixed-top nav-wrap">
            <button class="btn btn-menu">MENU</button>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="sidebar-mini py-5">
                    <div class="d-flex flex-column justify-content-between align-items-center sidebar-mini-inner">
                        <div class="logo-wrap">
                            <img src="../assets/img/elements/Pg1/logo.png" alt="logo">
                        </div>
                        <ul class="nav flex-column justify-content-center">
                            <li class="nav-item my-2">
                                <a href="dashboard.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Dashboard">
                                    <img class="icon" src="../assets/img/elements/Pg1/Dashboard.png" alt="Dashboard">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="leads.html" class="nav-link" data-toggle="tooltip" data-placement="right" title="Leads">
                                    <img class="icon" src="../assets/img/elements/Pg1/leads generated.png" alt="leads">
                                </a>
                            </li>
                            <li class="nav-item my-2 active">
                                <a href="tutorial.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Tutorials">
                                    <img class="icon" src="../assets/img/elements/Pg1/tutorials.png" alt="tutorials">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="profile.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Profile Setting">
                                    <img class="icon" src="../assets/img/elements/Pg1/profile settings.png"
                                        alt="profile settings">
                                </a>
                            </li>
                            <li class="nav-item my-2">
                                <a href="domain.html" class="nav-link" data-toggle="tooltip" data-placement="right"
                                    title="Domains">
                                    <img class="icon" src="../assets/img/elements/Pg1/website created.png"
                                        alt="Domains">
                                </a>
                            </li>
                        </ul>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Sign Out">
                            <img class="icon" src="../assets/img/elements/Pg1/Signout.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 pt-5 pl-0">
                <div class="container">
                    <h5 class="title">
                        Tutorials/Support
                    </h5>
                    <div class="row mt-4">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="vid-wrap">
                                <div class="embed-responsive embed-responsive-16by9 video mt-2">
                                    <iframe width="980" height="551" src="https://www.youtube.com/embed/XU9oyT7-s48"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="d-flex mt-4">
                                    <div class="vid-no">
                                        Video 1:
                                    </div>
                                    <div class="vid-title flex-grow-1">
                                        Onboarding Video
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="d-flex align-items-center flex-wrap flex-lg-nowrap notification">
                                <img class="icon" src="../assets/img/elements/Pg1/Notification.png" alt="notification icon" srcset="">
                                <div class="notification-text flex-grow-1">
                                    Still having issues using the AIWA amazing features and demos  
                                </div>
                                <a class="more-btn" href="#" class="btn">
                                    CHAT SUPPORT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    © 2020 AIWA
                </div>
            </div>
        </div>
    </div>


    <script src="../assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>