.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(26vw, 87vh, 68px); } }
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.51;
  height: 45px;
  width: 45px;
  animation-delay: -0.2s;
  transform: translate3d(60vw, 16vh, 21px);
  background: #bf1b0e; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(53vw, 86vh, 69px); } }
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.5;
  height: 55px;
  width: 55px;
  animation-delay: -0.4s;
  transform: translate3d(59vw, 52vh, 33px);
  background: #bf1b0e; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(7vw, 87vh, 35px); } }
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.39;
  height: 45px;
  width: 45px;
  animation-delay: -0.6s;
  transform: translate3d(14vw, 2vh, 845px);
  background: #bf1b0e; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(43vw, 9vh, 18px); } }
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.32;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(80vw, 38vh, 29px);
  background: #bf1b0e; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(63vw, 88vh, 81px); } }
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.48;
  height: 45px;
  width: 45px;
  animation-delay: -1s;
  transform: translate3d(35vw, 83vh, 50px);
  background: #bf1b0e; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(54vw, 5vh, 100px); } }
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.83;
  height: 100px;
  width: 100px;
  animation-delay: -1.2s;
  transform: translate3d(37vw, 78vh, 50px);
  background: #bf1b0e; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(35vw, 28vh, 58px); } }
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.46;
  height: 9px;
  width: 9px;
  animation-delay: -1.4s;
  transform: translate3d(4vw, 11vh, 40px);
  background: #bf1b0e; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(33vw, 59vh, 33px); } }
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.88;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(55vw, 2vh, 3px);
  background: #bf1b0e; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(83vw, 38vh, 345px); } }
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.07;
  height: 45px;
  width: 45px;
  animation-delay: -1.8s;
  transform: translate3d(13vw, 44vh, 23px);
  background: #bf1b0e; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(19vw, 5vh, 42px); } }
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.35;
  height: 45px;
  width: 45px;
  animation-delay: -2s;
  transform: translate3d(54vw, 29vh, 23px);
  background: #bf1b0e; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(26vw, 3vh, 63px); } }
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.81;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(89vw, 68vh, 54px);
  background: #bf1b0e; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(61vw, 14vh, 20px); } }
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.1;
  height: 100px;
  width: 100px;
  animation-delay: -2.4s;
  transform: translate3d(49vw, 58vh, 2px);
  background: #bf1b0e; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(78vw, 21vh, 74px); } }
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(34vw, 15vh, 59px);
  background: #bf1b0e; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(85vw, 78vh, 34px); } }
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -2.8s;
  transform: translate3d(89vw, 54vh, 745px);
  background: #bf1b0e; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(89vw, 75vh, 73px); } }
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.29;
  height: 45px;
  width: 45px;
  animation-delay: -3s;
  transform: translate3d(61vw, 21vh, 85px);
  background: #bf1b0e; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(19vw, 26vh, 2px); } }
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.86;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(30vw, 46vh, 1px);
  background: #bf1b0e; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(65vw, 74vh, 42px); } }
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.42;
  height: 55px;
  width: 55px;
  animation-delay: -3.4s;
  transform: translate3d(23vw, 24vh, 3px);
  background: #bf1b0e; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(73vw, 29vh, 77px); } }
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.2;
  height: 45px;
  width: 45px;
  animation-delay: -3.6s;
  transform: translate3d(16vw, 40vh, 5px);
  background: #bf1b0e; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(2vw, 58vh, 10px); } }
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.53;
  height: 100px;
  width: 100px;
  animation-delay: -3.8s;
  transform: translate3d(9vw, 79vh, 70px);
  background: #bf1b0e; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(60vw, 61vh, 14px); } }
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.04;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(80vw, 6vh, 545px);
  background: #bf1b0e; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(8vw, 78vh, 745px); } }
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  animation-delay: -4.2s;
  transform: translate3d(22vw, 29vh, 645px);
  background: #bf1b0e; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(84vw, 77vh, 7px); } }
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.92;
  height: 45px;
  width: 45px;
  animation-delay: -4.4s;
  transform: translate3d(45vw, 36vh, 17px);
  background: #bf1b0e; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(82vw, 40vh, 65px); } }
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  animation-delay: -4.6s;
  transform: translate3d(33vw, 82vh, 90px);
  background: #bf1b0e; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(90vw, 66vh, 94px); } }
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.23;
  height: 55px;
  width: 55px;
  animation-delay: -4.8s;
  transform: translate3d(17vw, 36vh, 50px);
  background: #bf1b0e; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(27vw, 28vh, 29px); } }
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.85;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(59vw, 53vh, 84px);
  background: #bf1b0e; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(34vw, 5vh, 87px); } }
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.02;
  height: 45px;
  width: 45px;
  animation-delay: -5.2s;
  transform: translate3d(89vw, 16vh, 51px);
  background: #bf1b0e; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(50vw, 21vh, 88px); } }
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.22;
  height: 55px;
  width: 55px;
  animation-delay: -5.4s;
  transform: translate3d(37vw, 51vh, 24px);
  background: #bf1b0e; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(47vw, 85vh, 845px); } }
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.07;
  height: 55px;
  width: 55px;
  animation-delay: -5.6s;
  transform: translate3d(39vw, 12vh, 78px);
  background: #bf1b0e; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(69vw, 57vh, 98px); } }
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.08;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(24vw, 51vh, 70px);
  background: #bf1b0e; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(34vw, 22vh, 29px); } }
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.69;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(48vw, 56vh, 72px);
  background: #bf1b0e; }

/*# sourceMappingURL=particles.css.map */
